body{
  background-image: url('./srisoonthorn165/bgnew2.png');
}

.table{
  text-align: left;
    color: antiquewhite;
}
.row{
        text-align: center;
      }
  .col-12{
     border: 1px solid #C4C4C4;
     background: rgba(32, 89, 128, 0.603);
     box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }
  .row-12{
    text-align:-webkit-center;
    margin-bottom: 30px;
    position: inherit;
  }

    .bg-primary {
        background-color: #0b3b54!important;
    }
      #sideNav .navbar-nav .nav-item .nav-link {
        font-weight: 600;
        letter-spacing: 0.05rem;
        text-transform: uppercase;
      }
      @media (min-width: 992px) {
        #sideNav {
          text-align: center;
          position: fixed;
          top: 0;
          left: 0;
          display: flex;
          flex-direction: column;
          width: 17rem;
          height: 100vh;
          padding-left: 0px;
          padding-right: 0px;

        }
        #sideNav .navbar-brand {
          display: flex;
          margin: auto auto 0;
          padding: 0.5rem;
        }
        #sideNav .navbar-collapse {
          display: flex;
          align-items: flex-start;
          flex-grow: 0;
          width: 100%;
          margin-bottom: auto;
          
          padding-left: 0px;
          padding-right: 0px;

        }
        #sideNav .navbar-collapse .navbar-nav {
          flex-direction: column;
          width: 100%;
        }
        #sideNav .navbar-collapse .navbar-nav .nav-item {
          display: block;
        }
        #sideNav .navbar-collapse .navbar-nav .nav-item .nav-link {
          display: block;
          color: black;
        }
      }

    .w3-circle{
    border-radius: 50%;
    width: 80%;
    height: 50%;
    top: 360px;
    position: sticky;
    background: #C4C4C4;
    left: 450px;
    margin-top: 50px;
    border-bottom-width: 50px;
    margin-bottom: 20px;
    }

    .container{
      margin-top: 110px;
      margin-left: 400px;
    margin-bottom: 30px;

    }

    #information{
      background-color: #0b3b54;
      color: white;
      box-shadow: 10px 5px 6px rgba(0, 0, 0, 0.25);
      
    }
    a.nav-link.js-scroll-trigger {
      background-color: white;
      margin-bottom: 5px;
      padding-top: 15px;
      padding-bottom: 15px;
    }
    a.nav-link.js-scroll-trigger.active {
      background-color: #717C83;

    }
    #logo1{
      background-color: white;
    }
    .text-light {
      color: #0057af!important;
  }
  div.carousel-caption{
    background-color: #ffffff;
    border: 1px solid #ffffff;
    opacity: 0.8;
    filter: alpha(opacity=60);
  }
  .table-bordered td, .table-bordered th {
    border: 1px solid #dee2e6;
    color: white;
  }
  h1.headerText{
    color: white;
  }
  h2.headerText{
    color: white;
  }
  h3.headerText{
    color: white;
  }
  h5.headerText{
    color: white;
  }
